*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Zen Antique', serif; */
}
nav{
    width: 100%;
    background: #902779;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px  30px;
    /* position: fixed; */
}
.nav-list ul li{
    display: inline-block;
    padding: 10px 20px ;
}
.nav-list ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-list ul li a:hover{
    opacity: 0.60;
}
.logo{
    margin: 0  10px;
    color: #fff;
    font-size: 30px;
}
button{
    padding: 10px;
    background: #0008C1;
    color: #fff;
    border-radius: 10px;
    border: none;
    transition: 0.50s;
    cursor: pointer;
}
button:hover{
    background: #fff;
    color: #0008C1;
}
/* ------------------------------------------------------------------ */
           /* navigation End */
/* ------------------------------------------------------------------ */
.hero{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(images/hero-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.side{
    position: absolute;
    top: 160px;
    left: 850px;
}
.side h1{
    font-size: 60px;
    color: #902779;
}
.side p{
    margin-left: 10rem;
    font-size: 25px;
    padding: 5px 0;
    font-family: light italic;
    color: #fff;
}
.side .hero-btn{
    margin-left: 290px;
    margin-top: 5px;
}
.hero-btn{
    width: 20%;
    background: #0008C1;
    border: none;
    border-radius: 30px;
    transition: 0.50s;
}
.hero-btn:hover{
    background: #fff;
    color: #0008C1;
}
.hero-img img{
 width: 40%;
 height: 500px;
 position: absolute;
 left: 1000px;
}

/* ------------------------------------------------------------------ */
           /* Hero End */
/* ------------------------------------------------------------------ */


.services h1{
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #0008C1;
}
.card{
    display: flex;
    justify-content: center;
   padding: 20px;
}
.html-cards{
    width: 10%;
    height: 280px;
    margin-top: 40px;
    border-radius: 20px;
    position: relative;
    transition: 0.18s;
    background-image: url(images/html.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 1px solid #000;
}
.html-cards:hover{
   box-shadow: 1px 1px 2px 3px  #000;
}
.html-cards h3{
  position: absolute;
  top: 235px;
  left: 12px;
}
.html-cards h3 a{
    text-decoration: none;
    color: #902779;
    cursor: pointer;
}
.css-cards{
    width: 10%;
    height: 280px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    border-radius: 20px;
    transition: 0.18s;
    background-image: url(images/css.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    border: 1px solid #000;
}
.css-cards:hover{
   box-shadow: 1px 1px 2px 3px  #000;
}
.css-cards h3{
    position: absolute;
    top: 250px;
    left: 10px;
  }
  .css-cards h3 a{
      text-decoration: none;
      color: #902779;
      cursor: pointer;
  }
.java-cards{
    width: 10%;
    height: 280px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    border-radius: 20px;
    transition: 0.18s;
    background-image: url(images/JavaScript-Logo.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 1px solid #000;
}
.java-cards:hover{
   box-shadow: 1px 1px 2px 3px  #000;
}
.java-cards h3{
    position: absolute;
    top: 240px;
    left: 10px;
  }
  .java-cards h3 a{
      text-decoration: none;
      color: #902779;
      cursor: pointer;
  }
.react-cards{
    width: 10%;
    height: 280px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 20px;
    position: relative;
    transition: 0.18s;
    background-image: url(images/react.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 1px solid #000;
}
.react-cards:hover{
   box-shadow: 1px 1px 2px 3px  #000;
}
.react-cards h3{
  position: absolute;
  top: 235px;
  left: 3px;
}
.react-cards h3 a{
    text-decoration: none;
    color: #902779;
    cursor: pointer;
}



/* ------------------------------------------------------------------ */
           /* Course End */
/* ------------------------------------------------------------------ */

.max{
    width: 100%;
    height: 300px;
    background: #902779;
    position: relative;
}
.max-left{
 position: absolute;
 top: 80px;
 left: 300px;
}
.max-left h1{
    font-size: 50px;
}
.max-left h1{
    color: #fff;
}
.max-left h2{
    font-size: 45px;
    color: #fff;
    margin-left: 75px;
    font-family: 'Zen Antique', serif;
    font-weight: 500;
}
.right button{
    position: absolute;
    top: 120px;
    left: 1300px;
}
.right button{
    width: 20%;
    height: 50px;
    font-size: large;
}